:root {
    --accent-color: #252f3e;
    --background-color: #0d1117;
    --inter-color: #141a24;
    --color: #eee;
  }
  
  .mc-wrapper {
    container-type: inline-size;
    container-name: mc-wrapper;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: auto;
    background-color: var(--background-color);
    min-height: 260px !important;
  }
  
  .mc-wrapper.stacked {
    align-items: flex-end;
  }
  
  #controls {
    position: static;
    opacity: 0.9;
    z-index: 1;
    padding: 10px;
    color: var(--color);
    font-family: sans-serif;
    font-size: 11px;
    min-width: 330px;
  }
  
  #controls .parameter {
    padding: 4px 0px;
    clear: both;
    height: 20px;
    accent-color: var(--accent-color);
  }
  
  #controls .parameter > label {
    text-align: right;
    padding: 5px 5px;
    float: left;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #controls .parameter input:not([type=checkbox]),
  #controls .parameter select {
    color: var(--color);
    font-size: 11px;
    background-color: var(--accent-color);
  }
  
  #controls .parameter select,
  #controls .parameter input[type=range] {
    width: 165px;
  }
  
  #controls .parameter select {
    margin-right: 3px;
  }
  
  #controls .parameter input[type=number] {
    margin-right: 3px;
    width: 158px;
    padding: 2px;
  }
  
  #controls .parameter input[type=range] {
    height: 16px;
  }
  
  #controls .parameter input[type=checkbox] {
    vertical-align: text-bottom;
    margin: 3px 2px;
  }
  
  #controls .parameter > output {
    color: var(--color);
    text-align: left;
    padding: 3px;
    float: right;
    width: 45px;
    font-size: 11px;
    background-color: var(--accent-color);
    overflow: hidden;
    text-overflow: clip;
  }
  
  #controls .parameter.colorPattern {
    display: inline-block;
  }
  
  #controls .parameter.color {
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: 3px 4px;
  }
  #controls .parameter.color input {
    width: 40px;
    height: 20px;
  }
  
  #ctrl-toggle {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #ctrl-toggle:hover {
    background-color: var(--inter-color);
  }
  
  #controls .parameter #animScale[type=range] {
    --thumb-width: 8px;
    appearance: none;
    height: 6px;
    width: 163px;
    margin: 6px 3px;
    background-color: #efefef;
    border: 1px solid #474c53;
  }
  
  @-moz-document url-prefix() {
    #controls .parameter #animScale[type=range] {
      height: 4px;
      margin: 8px 3px;
      border-color: #8f8f9c;
      background-color: #e9e9ed;
    }
  }
  
  #animScale[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--thumb-width);
    height: 18px;
    background-color: var(--accent-color);
  }
  #animScale[type=range]::-moz-range-thumb:hover {
    background-color: var(--accent-color);
  }
  #animScale[type=range]::-moz-range-thumb:active {
    background-color: var(--inter-color);
  }
  
  #animScale[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: var(--thumb-width);
    height: 18px;
    background-color: #2e3f58;
  }
  #animScale[type=range]::-webkit-slider-thumb:hover {
    background-color: var(--inter-color);
  }
  #animScale[type=range]::-webkit-slider-thumb:active {
    background-color: var(--accent-color);
  }
  
  #ctrl-toggle::after {
    content: '▲ ⚙️';
  }
  
  #controls.collapsed {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #controls.collapsed #ctrl-inputs {
    display: none;
  }
  
  #controls.collapsed #ctrl-toggle::after {
    content: '⚙️';
  }
  
  @container mc-wrapper (min-width: 1280px) {
  
    #controls {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  
  @media (max-width:350px) {
  
    #controls {
      display: none;
    }
  
    canvas {
      place-self: center;
    }
  
  }
  
  @media print {
  
    #ctrl-toggle {
      display: none;
    }
  
  }